page-unidades-cond {
    .reg{
        font-size: 20px;
    }
    .ayu{
        font-size: 20px;
        float: right;
    }
    .bus{
        font-size: 80px;
    }
    .centrado{
        text-align: center;
        size: 2px;
      }
    .us{
        font-size: 40px;
        
    }
    .usu1{
        font-size: 20px;
        float: left;
    }
    .usu2{
        font-size: 20px;
        float: right;
    }
}
