page-iniciarsesion {
    .reg{
        font-size: 20px;
    }
    .ayu{
        font-size: 20px;
        float: right;
    }
    .bus{
        font-size: 80px;
    }
    .centrado{
        text-align: center;
      }
    .us{
        font-size: 40px;
    }
}