page-perfilconductor {
    .calls{
        font-size: 30px;
        
    }
    .calls1{
        font-size: 20px;
        
    }
    .help{
        font-size: 20px;
        float: right;
    }
    .img1{
        display: block;
        margin: 0 auto 0 auto;
        width: 100px;
      }
    
}
