page-principalcond {
    .reg{
        font-size: 20px;
    }
    .ayu{
        font-size: 20px;
        float: right;
    }
    .bot{
        float: right;
    }
    .lati{
        width: 200px;
    }
    .ocultar{
        display: none;
    }
    .sal{
        font-size: 20px;
        float: left;
    }
}
