page-editar {
    .calls{
        font-size: 30px;
    }
    .help{
        font-size: 20px;
        float: right;
    }
    .img1{
        display: block;
        margin: 0 auto 0 auto;
        width: 100px;
    }
    .tr{
        font-size: 30px;
    }
    .ocultar{
        display: none;
    }

}
